<section class="section-products">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h3>Featured Product</h3>
          <h2>Popular Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Product -->
      <div class="card" style="width: 12rem;">
        <img src="{{imgsrc[0]}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{productsdes[0]}}</p>
        </div>
        <div class="part-2">
          <h3 class="product-title">{{products[0]}}</h3>
          <h4 class="product-price">$49.99</h4>
        </div>
      </div>
      <!-- Single Product -->
      <div class="card" style="width: 12rem;">
        <img src="{{imgsrc[1]}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{productsdes[1]}}</p>
        </div>
        <div class="part-2">
          <h3 class="product-title">{{products[1]}}</h3>
          <h4 class="product-price">$49.99</h4>
        </div>
      </div>
      <!-- Single Product -->
      <!-- Single Product -->
      <div class="card" style="width: 12rem;">
        <img src="{{imgsrc[2]}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{productsdes[2]}}</p>
        </div>
        <div class="part-2">
          <h3 class="product-title">{{products[2]}}</h3>
          <h4 class="product-price">$10.99</h4>
        </div>
      </div>
      <!-- Single Product -->
      <div class="card" style="width: 12rem;">
        <img src="{{imgsrc[3]}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{productsdes[3]}}</p>
        </div>
        <div class="part-2">
          <h3 class="product-title">{{products[3]}}</h3>
          <h4 class="product-price">$49.99</h4>
        </div>
      </div>
    </div>
  </div>
</section>